// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-blue: #4d04c4;
$black: black;
$white: white;
$cream: #fef9f4;
$violet-clair: #eee7fa;
$noir-le-wagon: #1b1717;
$border: #d9d9d9;
$white-smoke: whitesmoke;
$rouge-clair: #fae7e7;
$red: #e60f05;
