// Specific CSS for your home-page
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 16px;
}

.main-container {
  display: flex;
  overflow: auto;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
