<div class="container position-relative hero-header mb-4 mt-4">
  <div class="position-absolute z-0 hero-picture hero-picture-overlay rounded-4 overflow-hidden w-100 h-100">
    <div class="ratio ratio-16x9 w-100 h-100">
      <picture class="d-block">
        <source srcset="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png" type="image/webp">
        <img src="" alt="Student coding at Le Wagon" width="1280" height="574" class="mw-100 w-100 h-100 rounded-2 object-fit-cover">
      </picture>
    </div>
  </div>
  <div class="position-relative container h-100 z-1">
    <div class="row h-100 p-4 px-xl-80 pt-xl-120 pb-xl-80">
      <div class="col-12 col-lg-12 col-xl-6">
        <div class="position-relative">
        <h1 class="main-title hero-main-title fs-60 fw-500 text-white mb-3 mw-100 mw-md-75 mw-xl-100">
          <span style="color: rgb(255, 255, 255);">Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</span>
        </h1>

        <p class="main-subtitle text-white mw-75 mb-3">
          Change your life and learn to code at one of our campuses around the world.
        </p>

        <a default="default" class="btn btn-primary" href="#">Apply now</a>
        </div>
      </div>
    </div>
  </div>
</div>
