<header id="header">
  <%= render "shared/banner" %>
</header>

<div class="container home-container mb-4">

 <h1>First Study Track (Preparatory for Bildungsgutschein)</h1>
  <%= render "cards" %>
</div>
